<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>
<div class="form-div">
<p>All fields are required.</p>
<form class="form" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="account_email" placeholder="Email" id ="email" required value="<%= locals.account_email %>">
    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p> 
    <input type="submit" value="Login">
</form>
    <span>No Account? <a class="click-link" href="/account/register">Sign-up</a></span>
</div>
