<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li>
            <a href= "#" title="See our inventory of Custom vehicles">Custom</a>
        </li>
        <li>
            <a href="#" title="See our inventory of Sedan vehicles">Sedan</a>
        </li>
        <li><a href="#" title="See our inventory of SUV vehicles">SUV</a></li>
        <li>
            <a href="#" title="See our inventory of Truck vehicles">Truck</a>
        </li>
    </ul>
</nav>