/* General Styles: 
- imports
- box model
- universal styles
- header
- navigation
- body
- footer
Component styles: 
- hero- home view
-review- home view
-add ons- home view
-forms
-classification view
-detail view
Media Query: 
-general
-header
-navigation
-hero home
-review and add on
-classification view
-detail view*/

/****** Change Box Model **************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url(/images/site/checkerboard.jpg)
}

#wrapper {
  margin: auto; 
  width: 100%; 
  border: 3px solid rgb(32, 177, 255); 
  padding: 10px; 
  background-color: white;
  border-radius: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

a {
  text-decoration: none;
  color: black; 
}

#top-header {
  display: flex; 
  padding-top: 1.3rem;
}

.siteName {
  width: 50px; 
  white-space: nowrap; 
  font-size: 2rem;
}

#tools {
  text-align: right;
  width: 100%;
  text-transform: uppercase;
}

nav ul{
  list-style: none;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem; 
}

nav a{
  color: white; 
}

#hero {
  position: relative; 
  margin-bottom: 3rem; 
  font-family:Georgia, 'Times New Roman', Times, serif; 
}

#hero-image {
  width: 100%; 
  align-items: center;
}
#highlight {
  background-color: rgb(255, 255, 255, .7);
  position: absolute;
  top: 30%; 
  left: 5%; 
}

#highlight h3, p {
  margin: 1rem 1.6rem; 
  color:rgb(44, 58, 79); 
}

#own-button {
  margin: 1.3rem; 
}

#own-button img {
  width: 130px; 
}

.grid {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.upgrade {
  background-color: rgb(60, 141, 255);
  padding: .4rem; 
  border: 1.5px solid black; 
  margin: .5rem; 
  max-height: 85px;
}

.upgrade img {
  align-items: center;
  margin: auto; 
}

.upgrade-grid {
  text-align: center;
  display: block; 
}

@media screen and (min-width: 500px) {

#delorean {
  display: flex; 
  flex-direction: row-reverse;
}

#upgrades {
  width: 100%; 
}

#reviews li {
  margin: 1rem 0rem; 
}

#reviews {
  width: 100%; 
}

}