****** Change Box Model **************
*,
*:before,
*:after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Lora&family=Mukta&display=swap');

body {
  background-image: url(/images/site/checkerboard.jpg)
}

#wrapper {
  margin: auto; 
  width: 70%; 
  border: 3px solid rgb(32, 177, 255); 
  padding: 10px; 
  background-color: white;
  border-radius: 15px;
  font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: black; 
}

nav ul {
  list-style: none;
}

#top-header {
  display: flex; 
  padding-top: 1.3rem;
}

.siteName {
  width: 50px; 
  white-space: nowrap; 
  font-size: 2rem;
}

#tools {
  text-align: right;
  width: 100%;
  text-transform: uppercase;
}

nav ul{
  display: flex; 
  text-align: center;
  justify-content: space-around;
  background-color: black;
  color: white; 
  padding: .5rem; 
}

#hero {
  position: relative; 
  margin-bottom: 3rem; 
  font-family: "Abril", 'Times New Roman', Times, serif;
}

#hero-image {
  width: 100%; 
  align-items: center;
}
#highlight {
  background-color: rgb(255, 255, 255, .7);
  position: absolute;
  top: 30%; 
  left: 5%; 
}

#highlight h2, h3 {
  margin-left: 2rem;
  margin-top: .7rem; 
  color:rgb(60, 141, 255); 
}

#own-button {
  margin: 1.5rem; 
}

.grid {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.upgrade {
  background-color: rgb(60, 141, 255);
  padding: .4rem; 
  border: 1.5px solid black; 
  margin: .5rem; 
}

.upgrade img {
  align-items: center;
  margin: auto; 
}

.upgrade-grid {
  text-align: center;
  display: block; 
}

@media screen and (min-width: 640px) {

#delorean {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

#reviews {
  grid-column: 2;
}

#upgrades {
  grid-column: 1;
  grid-row: 1; 
}

}