<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<h2>Unapproved Classifications</h2>
<table>
    <%- pending %>
</table>
<h2>Unapproved Inventory</h2>
<table>
    <%- invPending %>
</table>
