<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<p class = "add-button"><a href="/inv/add-classification">Add New Classification</a></p>
<p class = "add-button"><a href="/inv/add-inventory">Add New Inventory</a></p>