<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<h2 id="error-message"><%- message %></h2>
<img id="error-image" src="/images/site/error-image.jpg" alt="Error image">